<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MovieDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Genre
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/movies/genre/28">Action</a>
                    <a class="dropdown-item" href="/movies/genre/80">Crime</a>
                    <a class="dropdown-item" href="/movies/genre/35">Comedy</a>
                    <a class="dropdown-item" href="/movies/genre/18">Drama</a>
                    <a class="dropdown-item" href="/movies/genre/27">Horror</a>
                    <a class="dropdown-item" href="/movies/genre/10402">Music</a>
                </div>
            </li>
        </ul>
        <form action="/search" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search by Title</button>
        </form>
    </div>
</nav>